<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="food.restra.hungerbite">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hungerbite">
        <activity android:name=".feature.chef.order_info.activity.DeliveredOrderActivity"></activity>
        <activity android:name=".feature.chef.order_info.activity.CanceledRequestActivity" />
        <activity android:name=".feature.chef.order_info.activity.ApprovedRequestActivity" />
        <activity android:name=".feature.chef.order_info.activity.NewRequestActivity" />
        <activity android:name=".feature.customer.payment.activity.ActivityPayment" />
        <activity android:name=".customer.checkout.ActivityCheckout" />
        <activity android:name=".feature.customer.product_detail.ProductDetailActivity" />
        <activity android:name=".feature.chef.ChefHomeActivity" />
        <activity android:name=".feature.customer.feed.activity.CustomerHomeActivity" />
        <activity android:name=".feature.login.CustomerSelectActivity" />
        <activity android:name=".feature.login.OtpVerificationActivity" />
        <activity android:name=".feature.login.LoginActivity" />
        <activity
            android:name=".feature.login.SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>